// Navigation Variables
$content-width: 100vw;
$breakpoint: 799px;
$nav-height: 100vh/8;
$nav-background: #a90000;
$nav-text-color: #ffffff;
$link-hover-color: #2581dc;

.inline-div {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}

.navbar {
  height: $nav-height;
  width: 90vw;
  max-width: $content-width;
  background: $nav-background;
}

.logo {
  flex: 1;
  margin: 20px;
  img,
  img:visited {
    height: calc(#{$nav-height} - 20px);
    width: calc(#{$nav-height} - 20px);
  }
}

.campi-navbar {
  flex: 4;
  margin: 20px;
}

.testo-campi {
  flex: 1;
  height: $nav-height;
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;

  p,
  p:visited {
    margin: 0 0 0 0 !important;
    color: $nav-text-color;
    text-decoration: none;
    font-size: large;
  }

  p.active {
    background: $link-hover-color;
    color: $nav-text-color;
  }

  &:hover {
    background: $link-hover-color;
    color: $nav-text-color;
  }
}



