// Navigation Variables
$content-width: 100vw;
$breakpoint: 799px;
$nav-height: 100vh/8;
$nav-background: #a90000;
$nav-text-color: #ffffff;
$link-hover-color: #2581dc;


.inline-div-mobile {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}

.navbar-mobile {
  height: $nav-height;
  width: 90vw;
  max-width: $content-width;
  background: $nav-background;
}

.logo-mobile {
  flex: 1;
  margin: 20px;
  img,
  img:visited {
    height: calc(#{$nav-height} - 20px);
    width: calc(#{$nav-height} - 20px);
  }
}

.spazio-mobile {
    flex: 3;
}

// Binds to JS Toggle
.nav-mobile{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
  height: $nav-height;
  width: $nav-height;
  svg {
    height: calc(#{$nav-height} - 20px);
    width: calc(#{$nav-height} - 20px);
    color: $nav-text-color;
  }

}

#campi-navbar-visibili {
  display: none;
  flex-direction: column;
}

.campi-navbar-mobile {
  margin: 0;
  flex: none;
  height: calc(#{$nav-height} * 2);
  width: 90vw;
  max-width: $content-width;
  background: $nav-background;
}

.testo-campi-mobile {
  flex: 1;
  height: calc(#{$nav-height} / 2);
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;

  p,
  p:visited {
    margin: 0 0 0 0;
    color: $nav-text-color;
    text-decoration: none;
    font-size: large;
  }

  p.active {
    background: $link-hover-color;
    color: $nav-text-color;
  }

  &:hover {
    background: $link-hover-color;
    color: $nav-text-color;
  }
}
