.chisiamo {
    width: 100%;
    height: 100%;
    margin: 0;

    display: grid;
    grid-template-columns: 60% 40%;

    background-color: #F0EBEA;
}

.descrizione-chisiamo {
    width: 100%;
    margin: 0;
    position: relative;
}

.immagine-chisiamo {
    background-color: blueviolet;
}

.descrizione-chisiamo-titolo {
    width: 30%;
    height: 10%;
    margin: 2% 0 0 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #850005;
    /* text-align: center; */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.descrizione-chisiamo-descrizione {
    width: 70%;
    height: auto;
    flex-shrink: 0;
    margin: 5% 0 0 5%;
    overflow: hidden;

    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.descrizione-chisiamo-bottone {
    position: absolute;
    bottom: 5%;
    right: 5%;

    width: 300px;
    height: 150px;
    background-color: black;
}

@media (max-width: 1000px) {
    .container-chisiamo {
        grid-template-columns: none !important;
        grid-template-rows: 50% 50%;
    }
}