// Navigation Variables
$content-width: 100vw;
$breakpoint: 799px;
$nav-height: 100vh/8;
$nav-background: #a90000;
$nav-text-color: #ffffff;
$link-hover-color: #2581dc;
$cliccato: none;

.inline-div {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}

.navbar {
  height: $nav-height;
  width: 90vw;
  max-width: $content-width;
  background: $nav-background;
}

.logo {
  flex: 1;
  margin: 20px;
  img,
  img:visited {
    height: calc(#{$nav-height} - 20px);
    width: calc(#{$nav-height} - 20px);
  }
}

.spazio {
    flex: 3;
}

// Binds to JS Toggle
.nav-mobile {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
  height: $nav-height;
  width: $nav-height;
  svg {
    height: calc(#{$nav-height} - 20px);
    width: calc(#{$nav-height} - 20px);
    color: $nav-text-color;
  }

}



.bella{
    display: #{$cliccato};
}
